.example-card{
    background-color: var(--header);
    color: var( --colorText);
    width: 100%;
    height: auto;
    box-shadow: var(--shadow1) 0px 50px 100px -20px,
    var(--shadow2) 0px 30px 60px -30px,
    var(--shadow3) 0px -2px 6px 0px inset;
    margin-bottom: 10%;
}

mat-card-header{
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    text-transform: uppercase;
}


@media screen and (max-width: 500px) {
    .example-card{
        width: 100%;
    }
}