.content {
  width: 100%;
  height: 88vh; /* Test : utilisez une valeur fixe */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)),
              url('/images/woodEngine.jpg') no-repeat center center / cover;
}

