
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@include mat.core();

html {
  font-family: "Lato", serif;
  font-weight: 500;
  font-style: normal;

  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: "Lato",
      density: 0,
    )
  );
  /* overrides pour le thème clair */
  --body:#fafafa;
  --header:#d1ab8c;
  --sideNav:#e0a26e;
  --element:#5e5854;
  --primaryElement1:#9e918a;
  --buttonBase:#2966e9;
  --colorText:#000000;
  --colorTextLink: #6e6767;
  --shadow1:#32325D;
  --shadow2:#405161;
  --shadow3:#0A2540;
  --warning:#f44336;
  --alert:rgb(216, 48, 48);
  --success: rgb(31, 145, 31);
  --gray: gray;
  --grayHover: rgb(223, 214, 214);

}

body {
  margin: 0;
  padding: 0;
  background: var(--mat-sys-surface);
   color: var(--mat-sys-on-surface);

  //Custom scroll bar
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: initial;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-on-surface);
    border-radius: 8px;
  }
}

body.dark-theme {
  color-scheme: dark;
  /* overrides pour le thème sombre */
 --menu-text-color: var(--mat-sys-on-surface); // couleur par défaut Material
  --body:#5c5c5c;
  --header:#677a8a;
  --sideNav:#828f93;
  --element:#5e5854;
  --primaryElement1:#9393b3;
  --buttonBase:#2966e9;
  --colorText:#000000;
  --colorTextLink: #d3b8b8;
  --shadow1:#FAFAC1;
  --shadow2:#0A2540;
  --shadow3:#0A2540;
  --warning:#f1675d;
  --alert:rgb(216, 48, 48);
  --success: rgb(33, 114, 33);
  --gray: #828f93;
  --unvalid: rgb(59, 54, 54);
  --grayHover: rgb(116, 113, 113);


  .green-badge {
    @include mat.badge-overrides(
      (
        background-color: lightgreen,
      )
    );
  }
}

.alert-action {
  color: var(--mat-sys-error);
}

.mat-divider {
  border-top-color: var(--mat-sys-outline-variant) !important;
}